In [6]:
import pandas as pd

In [8]:
from pandas import DataFrame

https://support.kraken.com/hc/en-us/articles/360047124832-Downloadable-historical-OHLCVT-Open-High-Low-Close-Volume-Trades-data

In [42]:
def get_historical_ohlc_data(base: str, quote: str, interval: int = 5, start: str = None, end: str = None,
                             data_folder: str = '../data/raw/') \
        -> DataFrame:
    """ Get historical data in standard format

    Works only if data is available in CSV format from the data folder.

    :param base: str
        The base currency e.g. ETH
    :param quote: str
        The quote currency e.g. USD
    :param interval: int
        The candle interval. Must be 1, 5, 15, 60, 720 or 1440 
    :param start: str (optional)
        Starting day, for instance: 2020-01-01
    :param end: str (optional)
        Ending day, for instance: 2020-31-12
    :param data_folder: str (optional)
        Folder where the raw data is stored

    :return: DataFrame
    """
    
    available_intervals = [1, 5, 15, 60, 720, 1440]
    assert interval in available_intervals, f'The interval {interval} is not supported, please choose one of {available_intervals}'
    
    cols = ['open','high','low','close','volume','trades']
    df = pd.read_csv(f"{data_folder}/{base}_OHLCVT/{base+quote}_{interval}.csv", names=cols)
    df = df.infer_objects()
    df['timestamp'] = pd.to_datetime(df.index, unit='s')
    df = df.set_index('timestamp')
    
    if start is not None and end is not None:
        df = df[start:end]

    return df

In [46]:
get_historical_ohlc_data(base='ETH', quote='USD', interval=5, data_folder='../../data/raw/')

,open,high,low,close,volume,trades
timestamp,,,,,,
2015-08-07 14:00:00,3.00000,3.00000,3.00,3.00,81.857278,2
2015-08-07 17:15:00,3.00001,3.00001,3.00,3.00,42.073291,2
2015-08-08 06:40:00,3.00000,3.00000,3.00,3.00,0.400000,1
2015-08-08 09:30:00,2.00000,2.00000,2.00,2.00,125.000000,2
2015-08-08 16:30:00,1.20000,1.20000,1.20,1.20,148.134000,3
...,...,...,...,...,...,...
2021-06-30 23:35:00,2273.19000,2281.22000,2268.67,2281.22,1203.725137,318
2021-06-30 23:40:00,2278.34000,2280.46000,2273.91,2279.20,375.852867,127
2021-06-30 23:45:00,2278.68000,2282.00000,2277.83,2280.86,273.564412,116
2021-06-30 23:50:00,2280.10000,2280.10000,2272.52,2272.73,259.419119,96
2021-06-30 23:55:00,2273.17000,2276.66000,2271.51,2276.66,61.393588,56

In [ ]:
Open - The first traded price
High - The highest traded price
Low - The lowest traded price
Close - The final traded price
Volume - The total volume traded by all trades
Trades - The number of individual trades

In [ ]:
['open','high','low','close','volume','trades']